<div class="header-container">
    <div class="title">
        <div class="title-container">
            <i class="fa fa-desktop"></i>
            OMCRI4CP
        </div>
    </div>
    <div class="tools">
        <div class="status-container">
            <div class="status-icon">
                <i class="fa fa-mixcloud"></i>
            </div>
        </div>
        <div class="btn-invite">
            <i class="fa fa-user-plus"></i> Invite
        </div>
        <div class="notification-container">
            <div class="notification-icon">
                <i class="fa fa-bell"></i>
            </div>
        </div>
        <div class="setting-container">
            <div class="setting-icon">
                <i class="fa fa-cog"></i>
            </div>
        </div>
        <div class="user-container">
            <div class="user-icon">
                <i class="fa fa-user"></i>
            </div>
        </div>
    </div>
</div>
