<div class="container">
    <div class="process">
        <i class="fa fa-codepen"></i><h3 >Process</h3>
    </div>
    <div class="process-container">
        <div class="first-col">
            <div class="new-process">
                <h3 class="title">New process</h3>
            </div>
            <div class="new-process-container">
                
            </div>
            <div class="stats">
                <h3 class="title">Trafic in this week</h3>
            </div>
        </div>
        <div class="second-col">
            <div class="card-orders">
                <div class="card-orders-header">
                    <div class="card-orders-header-text">
                        <h3 class="title">Last Orders</h3>
                        <p class="text">Last 10 orders</p>
                    </div>
                    <div class="card-orders-headers-btn">
                        <ul class="btn-list">
                            <li class="btn-item">
                                <a href="#" class="item active">All</a>
                            </li>
                            <li class="btn-item">
                                <a href="#" class="item">Waiting</a>
                            </li>
                            <li class="btn-item">
                                <a href="#" class="item">Completed</a>
                            </li>
                            <li class="btn-item">
                                <a href="#" class="item">Interrupted</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-orders-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody class="table-body">
                                <tr *ngFor="let order of orders; let i = index">
                                    <td>
                                        <a href="#" class="order">Order #{{order.id}}</a>
                                        <div class="receiver">
                                            <span>Receiver: </span>
                                            <a href="#" class="name">{{order.receiver}}</a>
                                        </div>
                                    </td>
                                    <td class="date">
                                        <span>{{order.init_date}}</span>
                                        <span class="hour">{{order.init_hour}}</span>
                                    </td>
                                    <td class="date">
                                        <span>{{order.final_date}}</span>
                                        <span class="hour">{{order.final_hour}}</span>
                                    </td>
                                    <td class="status in-progress">
                                        <span>{{order.state}}</span>
                                    </td>
                                    <td class="action">
                                        <a href="" class="action-contain see">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="" class="action-contain update">
                                            <i class="fa fa-upload"></i>
                                        </a>
                                        <a href="" class="action-contain trash">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
