<div class="container">
    <div class="process">
        <i class="fa fa-codepen"></i><h3 >Process</h3>
    </div>
    <div class="process-container">
        <div class="first-col">
            <div class="new-process-container">
                <div class="new-process">
                    <h3 class="title">New process</h3>
                </div>
                <form class="process-form">
                    <mat-form-field class="input-full-width" appearance="outline">
                      <mat-label>Receiver name</mat-label>
                      <input matInput placeholder="" value="">
                    </mat-form-field>
                    <mat-form-field class="input-full-width" appearance="outline">
                        <mat-label>Order description</mat-label>
                        <input type="text" matInput placeholder="">
                    </mat-form-field>
                    <div class="form-row">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Start Date</mat-label>
                            <input type="date" matInput placeholder="Ex. Pizza" value="Sushi">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Priority</mat-label>
                            <select matNativeControl required>
                              <option value="high">High</option>
                              <option value="medium">Medium</option>
                              <option value="low">Low</option>
                            </select>
                        </mat-form-field>
                    </div>
                  </form>
                <button mat-stroked-button>Submit</button>
            </div>
            <div class="stats">
                <h3 class="title">Trafic in this week</h3>
                <div class="chart">
                    <ngx-charts-line-chart [scheme]="colorScheme" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [timeline]="timeline" [results]="data"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>
        <div class="second-col">
            <div class="card-orders">
                <div class="card-orders-header">
                    <div class="card-orders-header-text">
                        <h3 class="title">Last Orders</h3>
                        <p class="text">Last 10 orders</p>
                    </div>
                    <div class="card-orders-headers-btn">
                        <ul class="btn-list">
                            <li class="btn-item">
                                <a href="#" class="item active">All</a>
                            </li>
                            <li class="btn-item">
                                <a href="#" class="item">Waiting</a>
                            </li>
                            <li class="btn-item">
                                <a href="#" class="item">Completed</a>
                            </li>
                            <li class="btn-item">
                                <a href="#" class="item">Interrupted</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-orders-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody class="table-body">
                                <tr *ngFor="let order of orders; let i = index">
                                    <td>
                                        <a href="#" class="order">Order #{{order.id}}</a>
                                        <div class="receiver">
                                            <span>Receiver: </span>
                                            <a href="#" class="name">{{order.receiver}}</a>
                                        </div>
                                    </td>
                                    <td class="date">
                                        <span>{{order.init_date}}</span>
                                        <span class="hour">{{order.init_hour}}</span>
                                    </td>
                                    <td class="date">
                                        <span>{{order.final_date}}</span>
                                        <span class="hour">{{order.final_hour}}</span>
                                    </td>
                                    <td class="status in-progress">
                                        <span>{{order.state}}</span>
                                    </td>
                                    <td class="action">
                                        <a href="" class="action-contain see">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="" class="action-contain update">
                                            <i class="fa fa-upload"></i>
                                        </a>
                                        <a href="" class="action-contain trash">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
