* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 100px);
    color: white;
    height: 100%;
}
.card-container {
    height: 100%;
    padding: 20px;
}
.resume-card, .device-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.card:nth-child(1) {
    background: linear-gradient(270deg, rgba(34,195,44,0.5858718487394958) 0%, rgba(47,61,70,1) 59%);
}
.card, .device-card {
    background-color: #2f3d46;
    width: 24%;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.card-header p, .title {
    color: #bec2c5;
    font-weight: 600;
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
}
.card-footer p{
    margin : 0;
    font-family: 14px;
}
.card:nth-child(1) .card-content p {
    color: #22c32c;
}
.card-content p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 600;
}
.device-card-header {
    height: 80px;
}
.device-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.active, .total {
    width: 45%;
    text-align: center;
}
.number {
    font-weight: 600;
    font-size: 45px;
}
.device-card-footer {
    margin-top: 10px;
    border-top: solid 1px #1f2c33;
}
.device-card-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.device-card-footer li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.device-card-footer li div {
    width: 32%;
    text-align: center;
}