* {
    box-sizing: border-box;
}
.drive-container {
    padding: 20px;
    width: calc(100vw - 100px);
}
.device-container {
    border: solid 2px gray;
    border-radius: 5px;
    height: 800px;
}
.accessories-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
    margin: auto;
}
.accessories-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.train-speed {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: auto;
    text-align: center;
}
.train-mat-slider {
    width: 800px;
}
.train-gauge-container {
    padding-top: 20px;
    height: 300px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.input-agv {
    width: 85px;
    
}
.agv {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.agv-camera {
    text-align: center;
}
.agv-control-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
.left-btn, .middle-btn, .right-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btn {
    margin: 10px;
}
.btn-left-top {
    transform: rotate(45deg);
}
.btn-left-bottom {
    transform: rotate(-45deg);
}
.btn-turn-left, .btn-turn-right {
    width: 100px;
}
.speed-label {
    padding-top: 20px;
    height: 250px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.agv-mat-slider {
    width: 500px;
}
.agv-sensors , .agv-monitor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}
.arm-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.arm-input {
    text-align: center;
}
.agv-arm-monitor {
    width: 100%;
    text-align: center;
}
.line-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.agv-line-sensors, .agv-ultrasound, .agv-battery {
    width: 100%;
}
.tag {
    color: gray;
    font-size: 12px;
}
.value {
    font-size: 14px;
    font-weight: 600;
}