<div class="drive-container">
    <!--div class="drive-select">
        <mat-form-field appearance="outline">
            <mat-label>Select your device</mat-label>
            <select matNativeControl required [(ngModel)]="deviceSelected">
              <option *ngFor="let item of listDevice; let index = index" [value]="index">{{index}}:{{item.title}}</option>
            </select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>User</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="device-container">
        <div class="control">
            <div class="train" *ngIf="device=='train'">
                <div class="accessories-container">
                    <div class="accessories-title">
                        <h3>Accessories</h3>
                    </div>
                    <div class="accessories-item">
                        <div class="item">
                            <mat-slide-toggle>Klaxon</mat-slide-toggle>
                        </div>
                        <div class="item">
                            <mat-slide-toggle>Light</mat-slide-toggle>
                        </div>
                        <div class="item">
                            <mat-slide-toggle>Noise</mat-slide-toggle>
                        </div>
                    </div>
                </div>
                <div class="train-speed">
                    <div class="train-slider">
                        <div class="train-gauge-container">
                            <ngx-charts-gauge
                        [scheme]="colorScheme"
                        [results]="single"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)"
                        [min]="min"
                        [max]="max"
                        >
                        </ngx-charts-gauge>
                        </div>
                        <mat-slider class="train-mat-slider" thumbLabel [displayWith]="formatLabel" tickInterval="1" step="1" min="0" max="20" aria-label="units"></mat-slider>
                    </div>
                    <div class="train-speed-btn">
                        <button mat-stroked-button color="primary">Start</button>
                        <button mat-stroked-button color="accent">Reverse</button>
                        <button mat-stroked-button color="warn">Stop</button>
                    </div>
                </div>
            </div>
            <div class="agv" *ngIf="device=='agv'">
                <div class="agv-monitor">
                    <div class="agv-monitor-btn">
                       
                    </div>
                    <div class="agv-arm-monitor">
                        <h4 class="agv-title">Arm Control</h4>
                        <div class="gripper">Open <mat-slide-toggle>Close</mat-slide-toggle></div>
                        <div class="arm-input">
                            <h4 class="agv-title">Go to coordinate</h4>
                            <form class="arm-form">
                                <mat-form-field class="input-agv" appearance="outline">
                                  <mat-label>X</mat-label>
                                  <input matInput type="number">
                                </mat-form-field>
                                <mat-form-field class="input-agv" appearance="outline">
                                  <mat-label>Y</mat-label>
                                  <input matInput type="number">
                                </mat-form-field>
                                <mat-form-field class="input-agv" appearance="outline">
                                    <mat-label>Z</mat-label>
                                    <input matInput type="number">
                                </mat-form-field>
                              </form>
                              <button mat-stroked-button >Go to position</button>
                        </div>
                    </div>
                </div>
                <div class="agv-middle-container">
                    <div class="agv-camera">
                        <img src="http://localhost:8585/stream?topic=/usb_cam/image_raw" height="250px" width="500px" alt="">
                    </div>
                    <div class="agv-speed">
                        <div class="speed-label">
                            <ngx-charts-gauge
                            [scheme]="colorScheme"
                            [results]="single"
                            (select)="onSelect($event)"
                            (activate)="onActivate($event)"
                            (deactivate)="onDeactivate($event)"
                            [min]="min"
                            [max]="max"
                            >
                            </ngx-charts-gauge>
                        </div>
                        <div class="speed-slider">
                            <mat-slider 
                                class="agv-mat-slider" 
                                thumbLabel 
                                [displayWith]="formatLabel" 
                                tickInterval="auto" step="1" 
                                [value] = "agvSpeedValue"
                                min="0"
                                max="7"
                                [(ngModel)] = "agvSpeedValue"
                                (change)= "agvSpeed()"
                                aria-label="units">
                            </mat-slider>
                        </div>
                    </div>
                    <div class="agv-control-btn">
                        <button class="btn btn-turn-left" (mousedown)="onAction('turn_left')" (mouseup)="onAction('stop')" mat-fab color="blue">
                            <mat-icon>undo</mat-icon>
                        </button>
                        <div class="left-btn">
                            <button class="btn btn-left-top" (mousedown)="onAction('left_up')" (mouseup)="onAction('stop')" mat-mini-fab color="blue">
                                <mat-icon>chevron_left</mat-icon>
                            </button>
                            <button class="btn" (mousedown)="onAction('left')" (mouseup)="onAction('stop')" mat-stroked-button >
                                <mat-icon>chevron_left</mat-icon>
                            </button>
                            <button class="btn btn-left-bottom" (mousedown)="onAction('left_bottom')" (mouseup)="onAction('stop')" mat-mini-fab color="blue">
                                <mat-icon>chevron_left</mat-icon>
                            </button>
                        </div>
                        <div class="middle-btn">
                            <button class="btn" (mousedown)="onAction('forward')" (mouseup)="onAction('stop')" mat-stroked-button >
                                <mat-icon>expand_less</mat-icon>
                            </button>
                            <button class="btn btn-connect" (click)="onAction('connect')" mat-mini-fab color="blue">
                                <mat-icon>flip</mat-icon>
                            </button>
                            <button class="btn" (mousedown)="onAction('backward')" (mouseup)="onAction('stop')" mat-stroked-button >
                                <mat-icon>expand_more</mat-icon>
                            </button>
                        </div>
                        <div class="right-btn">
                            <button class="btn btn-left-bottom" (mousedown)="onAction('right_up')" (mouseup)="onAction('stop')" mat-mini-fab color="blue">
                                <mat-icon>chevron_right</mat-icon>
                            </button>
                            <button class="btn" (mousedown)="onAction('right')" (mouseup)="onAction('stop')" mat-stroked-button >
                                <mat-icon>chevron_right</mat-icon>
                            </button>
                            <button class="btn btn-left-top" (mousedown)="onAction('right_bottom')" (mouseup)="onAction('stop')" mat-mini-fab color="blue">
                                <mat-icon>chevron_right</mat-icon>
                            </button>
                        </div>
                        <button class="btn btn-turn-right" (mousedown)="onAction('turn_right')" (mouseup)="onAction('stop')" mat-fab color="blue">
                            <mat-icon>redo</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="agv-sensors">
                    <div class="agv-sensors-headers">
                        <h4>Sensors</h4>
                    </div>
                    <div class="agv-line-sensors">
                        <h5>Line Sensors</h5>
                        <div class="line-item">
                            <div class="item">
                                <span class="value">92.0</span>
                                <p class="tag">line right</p>
                            </div>
                            <div class="item">
                                <span class="value">92.0</span>
                                <p class="tag">line right</p>
                            </div>
                            <div class="item">
                                <span class="value">92.0</span>
                                <p class="tag">line right</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="agv-ultrasound">
                        <h5>Ultrasound</h5>
                        <div class="item">
                            <span class="value">92.0</span>
                            <p class="tag"></p>
                        </div>
                    </div>
                    <div class="agv-battery">
                        <h5>Battery</h5>
                        <div class="item">
                            <span class="value">75%</span>
                            <p class="tag">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="drone" *ngIf="device=='drone'">
        
            </div>
            <div class="crane" *ngIf="device=='crane'">
        
            </div>
        </div>
        
    </div-->
    <div class="btn-container">

    </div>
    <div class="device-container">
        
    </div>
</div>
