.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1f2c33;
}
.app-header {
    height: 48px;
    background-color: #2f3f46;
}
.app-principal-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 68px);
}
.app-console {
    height: 20px;
    border-top: solid 1px #e6e6e6;
    position: relative;
    bottom: 0;
}
