<div class="sidebar-container">
    <div class="list-container">
        <div class="home-container" routerLink="/home" routerLinkActive="active-item">
            <span class="home-icon">
                <i class="fa fa-home"></i>
            </span>
            <div class="home-text">Home</div>
        </div>
        <div class="process-container" routerLink="/process" routerLinkActive="active-item">
            <span class="process-icon">
                <i class="fa fa-codepen"></i>
            </span>
            <div class="process-text">Process</div>
        </div>
        <div class="auto-container" routerLink="/auto" routerLinkActive="active-item">
            <span class="auto-icon">
                <i class="fa fa-rocket"></i>
            </span>
            <div class="home-text">Drive</div>
        </div>
        <div class="history-container" routerLink="/history" routerLinkActive="active-item">
            <span class="history-icon">
                <i class="fa fa-history"></i>
            </span>
            <div class="history-text">History</div>
        </div>
        <div class="simulator-container" routerLink="/simulator" routerLinkActive="active-item">
            <span class="simulator-icon">
                <i class="fa fa-cubes"></i>
            </span>
            <div class="simulator-text">Simulator</div>
        </div>
    </div>
</div>
