<div class="container">
    <div class="left-card-container">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Commands</span>
            </div>
            <div class="card-content">
                <div>
                    <span class="title">Speed</span>
                    <mat-slider class="speed" thumbLabel min="1" max="8" step="1"></mat-slider>
                </div>
                <div class="btn-container">
                    <button class="btn">faster</button>
                    <button class="btn">Slower</button>
                    <button class="btn">Stop</button>
                </div>
                <div>
                    <span class="title title_d">Direction</span>
                    <button class="btn">Reverse</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <span class="card-title">Accessories</span>
            </div>
            <div class="card-content">
                <div class="item-content">
                    <span class="title title_w">Light</span>
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
                <div class="item-content">
                    <span class="title title_w">Honk</span>
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
                <div class="item-content">
                    <span class="title title_w">Train noise</span>
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
                <div class="item-content">
                    <span class="title title_w">Wagon noise</span>
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <img src="/assets/img/train.png" height="800px" width="auto">
    </div>
    <div class="right-card-container">

    </div>
</div>
